<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Duetto POC Suite" thread-count="5"
	parallel="tests" verbose="4">

	<test name="Login Page Test_chromium">
		<parameter name="browser" value="chromium" />
		<classes>
			<class name="com.duetto.test.LoginTest" />
		</classes>
	</test>

	<test name="Backend Page Test_chromium">
	<parameter name="browser" value="chromium" />
	<classes>
		<class name="com.duetto.test.DuettoAdminTest" />
	</classes>
</test>


	




</suite>